html, button, input, select, textarea, .pure-g [class *="pure-u"] {
    font-family: Helvetica, Arial, sans-serif !important
}

body {
    background-color: #f5f6f9
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.content {
    padding: 0.4em
}

.hidden-all {
    display: none
}

.hidden-lg {
    display: inline-block !important
}

.hidden-lgp {
    display: inline-block !important
}

.visible-md, .visible-md-block {
    display: none !important
}

.visible-lg {
    display: none !important
}

.visible-lgp {
    display: none !important
}

@media screen and (min-width: 48em) {
    .visible-md {
        display: inline-block !important
    }

    .visible-md-block {
        display: block !important
    }
}

@media screen and (min-width: 64em) {
    .hidden-lg {
        display: none !important
    }

    .visible-lg {
        display: inline-block !important
    }
}

@media screen and (min-width: 70em) {
    .pure-u-lgp-3-5 {
        width: 60%
    }

    .hidden-lgp {
        display: none !important
    }

    .visible-lgp {
        display: inline-block !important
    }
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

@media screen and (min-width: 48em) {
    html, body {
        height: 100%
    }
}

.wrapper {
    min-height: 100%;
    margin-bottom: -275px
}

.flat_box {
    margin: 0 auto;
    padding: 0.4em;
    max-width: 48em
}

.small-box {
    margin: 0 auto;
    padding: 0.4em;
    max-width: 20em
}

.counter-list li {
    margin-bottom: 0.75em
}

.counter-list hr {
    color: #D3D3D3;
    border-color: #D3D3D3;
    background-color: #D3D3D3
}

.pure-menu .pure-menu-heading {
    padding: 0.375em 1em
}

.pure-menu-heading img {
    height: 2.25em;
    width: 13.5em
}

.menu {
    background-color: #3d3f41;
    overflow: hidden;
    white-space: nowrap
}

.menu .pure-menu-link {
    color: silver;
    padding: 1em
}

.menu .pure-menu-selected .pure-menu-link {
    color: white
}

.menu .pure-menu-link:hover {
    color: black
}

#mobile-menu {
    display: none
}

#menu-toggle {
    display: block;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    margin-left: auto;
    margin-right: 0
}

.pure-menu-horizontal .pure-menu-children {
    right: 0;
    left: auto;
    top: auto;
    width: inherit;
    background-color: #3d3f41;
    text-align: left
}

.pure-g {
    overflow: visible
}

.dropdown-icon {
    display: block;
    width: 2em;
    height: 2em;
    padding: 0.5em;
    margin-left: auto;
    margin-right: 0
}

.upgrade-link {
    color: #C36900 !important;
    font-weight: bold
}

.link, .link:hover, .link:active, .link:visited {
    color: #0078e7
}

.link:hover {
    text-decoration: none
}

.counter-header {
    background-color: #555555;
    color: white;
    text-align: center;
    padding-bottom: 0.5em
}

.counter-header h1 {
    margin: 0.25em
}

iframe.facebook_button_count {
    border: none;
    overflow: hidden;
    width: 90px;
    height: 21px
}

.footer {
    color: white;
    font-size: 0.9em;
    margin: 0 auto;
    text-align: center
}

.footer, .footer-push {
    height: 275px
}

.inner-footer {
    background-color: #555;
    white-space: nowrap
}

.inner-footer .pure-u-1-3 {
    padding: 1.5em 1em 0;
    max-width: 21em;
    text-align: left;
    height: 225px
}

.footer a {
    color: lightblue
}

.hot a {
    font-size: 1.1em
}

.footer h3 {
    text-align: center;
    margin: 0
}

.footer li {
    padding: 0 0 0.5em
}

.footer ul {
    margin-bottom: 0
}

.footer hr {
    color: grey;
    border-color: grey;
    background-color: grey
}

.footer-margin {
    background-color: #f5f6f9;
    height: 50px
}

#cookie-consent {
    display: none;
    position: fixed;
    text-align: center;
    padding: 0.5em;
    right: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid silver;
    background-color: #fcf8e3
}

@media screen and (min-width: 48em) {
    #cookie-consent {
        bottom: 0.5em;
        right: 0.5em;
        width: 18em;
        border: 1px solid silver;
        -moz-border-radius: 0.5em;
        -webkit-border-radius: 0.5em;
        -khtml-border-radius: 0.5em;
        border-radius: 0.5em
    }
}

#embed-options {
    display: none;
    max-width: 30em;
    margin: 0 auto
}

label[for=embed-code] {
    font-weight: bold;
    margin-top: 0.5em
}

#create-form label[for=embed-code] {
    font-size: 125%
}

#embed-code[readonly] {
    background-color: white;
    color: #585858
}

.button-secondary {
    color: white;
    background-color: #1cb841
}

.button-large {
    margin: 0.5em;
    border-radius: 4px
}

@media screen and (min-width: 48em) {
    .button-large {
        font-size: 125%
    }
}

@media screen and (min-width: 64em) {
    .button-large {
        font-size: 150%
    }
}

.message {
    background-color: #fcf8e3;
    color: #8a6d3b;
    font-weight: bold;
    padding: 0.5em;
    text-align: center
}

.error-message {
    background-color: #f2dede;
    color: #a94442
}

.form-field {
    white-space: nowrap
}

.form-field:first-child ~ .form-field {
    margin-top: 0.75em
}

.form-field select {
    padding: 0.2em
}

.form-toggle {
    text-align: center
}

.form-toggle img {
    display: inline-block
}

.label-inline {
    display: inline-block !important
}

.help-text {
    color: grey;
    padding: 5px
}

.field-errors {
    display: none;
    color: #a94442;
    font-weight: bold;
    padding: 0.5em;
    margin-bottom: 0.5em
}

.important {
    color: red;
    font-weight: bold
}

.green-note {
    color: green
}

.nowrap {
    white-space: nowrap
}

.wrap {
    white-space: normal
}

.pull-right {
    float: right
}

.bigger {
    font-size: 1.2em
}

#create-form {
    width: 100%
}

#form-left {
    padding-bottom: 0
}

@media screen and (min-width: 520px) {
    #form-left {
        padding-bottom: 0.4em
    }
}

#main-error {
    display: none;
    color: #a94442;
    font-weight: bold;
    padding: 1em
}

.input-ext {
    text-align: center;
    line-height: 2.25em;
    height: 2.25em
}

.input-ext img {
    float: right;
    max-height: 2.25em
}

.icon-input-wrapper {
    display: table;
    width: 100%
}

.icon-input-field {
    display: table-cell;
    width: 100%
}

.icon-input-image {
    display: table-cell
}

.icon-input-image img {
    width: 2.25em;
    height: 2.25em
}

#datepicker-trigger {
    cursor: pointer
}

ul#id_on_finish {
    list-style-type: none;
    padding-left: 5px
}

#modal-repeat-feature {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999990;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6)
}

.modal-content {
    background-color: #fcf8e3;
    margin: 15% auto 0;
    border: 1px solid #888;
    width: auto;
    -moz-border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -khtml-border-radius: 0.5em;
    border-radius: 0.5em
}

.modal-header {
    border-bottom: 1px solid silver
}

#modal-repeat-feature h2 {
    color: #D77D00
}

#preview {
    display: none;
    overflow: auto;
    padding: 0 0.25em 0.25em
}

@media screen and (min-width: 520px) {
    #preview {
        padding-bottom: 0.25em
    }
}

#spinner-wrapper {
    display: inline-block;
    position: relative;
    width: 100%
}

#spinner-wrapper:after {
    content: '';
    display: block;
    margin-top: 25%;
    padding: 1em 0.25em 0.25em
}

#spinner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

.sk-fading-circle {
    margin: 5% auto;
    width: 12.5%;
    height: 50%;
    position: relative
}

.sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0
}

.sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both
}

.sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg)
}

.sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg)
}

.sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg)
}

.sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg)
}

.sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}

.sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg)
}

.sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg)
}

.sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg)
}

.sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg)
}

.sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg)
}

.sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s
}

.sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s
}

.sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s
}

.sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s
}

.sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s
}

.sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s
}

.sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s
}

.sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s
}

.sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s
}

.sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s
}

@-webkit-keyframes sk-circleFadeDelay {
    0%, 39%, 100% {
        opacity: 0
    }
    40% {
        opacity: 1
    }
}

@keyframes sk-circleFadeDelay {
    0%, 39%, 100% {
        opacity: 0
    }
    40% {
        opacity: 1
    }
}

#embed-options img {
    margin: 0 auto 0.25em
}

#embed-options .pure-menu-item {
    width: 7.5em
}

.select2-selection {
    margin-bottom: 0.25em;
    height: 100% !important;
    border: 1px solid #ccc !important;
    box-shadow: 0 1px 3px #ddd inset
}

.select2-container--focus .select2-selection {
    border-color: #129fea !important;
    outline: 0 none
}

.select2-selection__arrow {
    height: 100% !important
}

#select2-id_timezone-container, #select2-id_step_delay_unit-container, #select2-id_language-container, #select2-id_country_code-container, #select2-id_repeat_unit-container {
    line-height: normal;
    color: black;
    padding: 0.5em 0.6em
}

.select2-selection--multiple {
    padding: 0.3em 0.2em 0.1em !important
}

.select2-selection--multiple li {
    margin: 0.2em 0.2em 0 !important
}

.select2-selection--multiple li .select2-search__field {
    margin-top: 0 !important
}

.tcw {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.tcw:after {
    content: '';
    display: block;
    margin-top: 25%
}


.counter-wrapper {
    position: fixed;
    top: 50%;
    /*bottom: 0;*/
    left: 50%;
    /*right: 0;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    transform: translate(-50%, -50%);
    white-space: nowrap
}

#name {
    display: block;
    margin: 0
}

.counter_part {
    display: inline-block;
    height: 100%;
    white-space: nowrap
}

.colon {
    display: none
}

.unit_value, .unit_name, #name {
    font-size: calc(16px + 1vw);
    line-height: calc(1.1em + 0.5vw);
}

.unit_value, .unit_name, #counter, #name {
    white-space: nowrap;
    text-align: center
}

.counter-wrapper:link, .counter-wrapper:hover, .counter-wrapper:active {
    text-decoration: none
}

#value-wrapper {
    height: 100%
}

.unit_value {
    color: black
}

.unit_name {
    color: black
}

#minus_sign {
    display: none
}

#alarm {
    display: none
}